
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #f9f8f4 !important;
  height: 11vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  margin-right: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 13px;
  transition-property: color;
  transition-duration: 0.2s;
}

ul li a:hover {
  color: gray;
}

.logo img {
  width: 45px;
  padding-top: 5px;
}

.profilePic {
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
}

.profilePic i {
  color: black;
  cursor: pointer;
}

.profilePic i:hover {
  color: black;
}

.profilePic img {
  width: 40px;
  margin-left: 20px;
  margin-right: 10px;
}

.button{
  background-color: #4fc4f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 80%;
  width: 3.75rem;
  height: 2rem;
}