@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    background: #e7e3d3;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f9f8f4;
    height: 11vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 13px;
    transition-property: color;
    transition-duration: .2s;
}

ul li a:hover {
    color: gray;
}

.logo img {
    width: 45px;
    padding-top: 5px;
}

.profile {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
}

.profile i {
    color: black;
    cursor: pointer;

}

.profile i:hover {
    color: black;
}

.profile img {
    width: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: auto;
    visibility: hidden;
    z-index: 50;
}

.input-field {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 10px;
    border-radius: 4px;
}

.input-field input {
    width: 93%;
    height: 90%;
    outline: none;
    background: transparent;
    border: none;
    color: white;
}

.input-field label {
    cursor: pointer;
}

/* Main Home Section Starts*/

.main-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin-top: -5rem;
}

/* Welcome Section Starts */

.welcome {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    gap: 2.25rem;
}

.welcome p {
    width: 80%;
    margin-bottom: 1rem;

}


/* Welcome Section Ends */

/* Left Section Starts */

.left-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    gap: 10px;
}

.curr-read {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: left;
    align-items: start;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.curr-read h5 {
    font-size: large;
}

.readbook {
    display: flex;
    align-items: center;
    font-size: .85rem;
}

.read-input {
    background-color: white;
    border-radius: 5px;
    height: 2.3rem;
}

.curr-read .readbook i {
    padding: 0rem .5rem 0rem 0rem;
    font-size: 2rem;
    color: rgb(139, 34, 57);
}

.curr-read input {
    height: 2.3rem;
    width: 18rem;
    background: none;
    border: none;
    padding: 10px;
}

.curr-read input:focus {
    border: none;
}

.links a {
    font-size: .8rem;
    padding: 0rem .5rem 0rem 0rem;

}

.read-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.read-graph img {
    height: 100px;
}

.read-graph h5 {
    margin-bottom: 1rem;
}

.read-challenge {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.read-right p {
    font-size: .85rem;
}

.read-ele {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.read-challenge h3 {
    display: block;
}

.read-challenge a {
    font-size: .85rem;
}

.read-challenge .behindsched {
    font-weight: 400;
    opacity: .6;
    font-size: .85rem;
}

.read-left img {
    height: 7rem;
    width: 5.5rem;
}

.want-to-read-btn button {
    font-family: "Be Vietnam Pro", sans-serif;
    width: 6rem;
    height: 1.8rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    margin: .4rem 0rem;
    cursor: pointer;

}

.want-to-read {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.wtr-content img {
    height: 5.5rem;
    width: 5.5rem;
}

.wtr-content {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.want-to-read a {
    font-size: .85rem;
    width: 100%;
}


/* Left Section Ends */

/* Right Section Starts */

.right-section {
    margin-top: 2rem;
    width: 30%;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Right Section Ends */


/* Middle Section Starts */

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 40%;
}

/* Updates Section Starts */

.updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.update-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 30rem;
    align-items: center;
}


.books-updates1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_dash{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-sections {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    gap: 4rem;
}

.books-right-section {
    display: flex;
    margin-left: 4.6rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
}

.left-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image img {
    height: 180px;
    width: 10rem;
    object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 180px;
    justify-content: center;
    gap: 0.5rem;
}

.book-name {
    font-size: 1rem;
}

.author-name {
    font-size: 1.2rem;
    opacity: .8;
}

.info-par {
    font-size: .7rem;
    opacity: .8;
}

/* Updates Section Ends */

/* Middle Section Ends */


@keyframes loadX {
    0% {
        width: 0;
    }

    100% {
        width: var(--percentage);
    }
}



.love-read-collection {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 50px;
    gap: 50px;
}

.love-read-collection::-webkit-scrollbar {
    width: 0;
}

.love-read-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.25rem;
}


.love-read-container h5 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 3rem;
}

.love-read-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.love-read-card img {
    width: 11rem;
    min-height: 12rem;
    max-height: 12rem;
    object-fit: cover;
    margin-bottom: 1.25rem;
}

.love-read-card h2 {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.love-read-card p {
    font-size: 0.875rem;
    padding: 0.25rem;
    color: #666;
    width: 15rem;
    height: 3rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.love-read-card button{
    background-color: #f0f0f0;
    border: 1px solid #666;
    color: #666;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.streak img {
    border-radius: 10px;
    margin-top: 2rem;
    height: 300px;
}

.anime-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    gap: 30px;
}


.title-anime h4 {
    color: black;
    font-size: 1.5rem;
}

.anime-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0rem 3.5rem;
    gap: 50px;
    overflow-x: scroll;
}

.anime-area::-webkit-scrollbar {
    width: 0px;
}

.anime-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* Equal width for each .anime-img */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.anime-img img {
    width: 170px;
    height: 220px;
    border-radius: 4px;
}

.anime-right {
    display: flex;
    padding: 55px;
    width: auto;
    flex-direction: column;
}

.progress {

    border-radius: 25px;
    align-items: center;
    height: 10px;
    width: 170px;
    margin: 10px;
}

.progress-value {
    border-radius: 25px;

    background: rgba(37, 3, 208, 0.897);
    height: 10px;
    width: 0;
}

.pX {
    animation: loadX 2s normal forwards;
}

@keyframes loadX {
    0% {
        width: 0;
    }

    100% {
        width: var(--percentage);
    }
}

@media (max-width: 768px) {

    body {
        width: auto;
        height: 100%;
    }

    header {
        height: 100%;
        gap: 20px;
        padding: 20px;
        flex-direction: column;
        margin-bottom: 20px;
        width: auto;
    }

    header ul li {
        width: 100%;
        margin: 0px;
        padding: 5px;
    }

    .main-home {
        flex-direction: column;
        gap: 150px;
        height: auto;
        width: 100%;
    }

    .welcome {
        width: auto;
        height: auto;
    }

    .middle-section {
        width: auto;
    }

    .left-section {
        width: auto;
        height: auto;
        gap: 50px;
        margin-bottom: 50px;
    }

    .curr-read {
        width: 100%;
        height: auto;
        gap: 20px;
        margin: auto;
    }

    .read-input {
        width: 100%;
        height: auto;
    }

    .read-input i {
        display: none;
    }

    .read-challenge {
        width: 100%;
        height: auto;
    }

    .read-graph {
        width: 100%;
        height: auto;
    }

    .want-to-read {
        width: 100%;
        height: auto;
    }

    .updates {
        width: 100%;
        height: auto;
    }

    .book1 {
        width: 100%;
        height: auto;
    }

    .books-updates {
        width: 100%;
        height: auto;
    }

    .books-right-section {
        width: 100%;
        height: auto;
    }

    .update-head {
        width: 100%;
        height: auto;
    }

    .middle-section {
        width: auto;
        height: auto;
    }

    .book-sections {
        flex-direction: column;
        gap: 40px;
    }

    .left-section {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .love-read-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .love-read-container h5 {
        font-size: 1.2rem;
        width: 100%;
        padding: 25px;
        margin: 0;
        text-align: center;
    }

    .love-read-collection {
        margin: 0;
        padding: 20px;
        width: 100%;
        align-content: center;
        gap: 20px;
        flex-direction: column;
        height: 60vh;
    }

    .title-anime {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 5rem;
    }

    .title-anime h4 {
        font-size: 1.5rem;
        width: 100%;
        padding: 25px;
        margin: 0;
        text-align: center;
    }

    .love-read-card {
        width: auto;
        height: auto;
        padding: 20px;
        margin: 0;
    }

    .anime-right {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .anime-area {
        gap: 50px;
        margin: 0;
        width: 100%;
        padding: 40px;
        flex-direction: column;
        height: 60vh;
    }


}