@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: #e7e3d3;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

header {
    background-color: #e7e3d3;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 35px;  */
    /* margin-bottom: 10px; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 13px;
    transition-property: color;
    transition-duration: .2s;

}

ul li a:hover {
    color: gray;
}

.logo img {
    width: 45px;
    padding-top: 5px;
}

.profile {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
}

.profile i {
    color: black;
    cursor: pointer;

}

.profile i:hover {
    color: black;
}

.profile img {
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

.search-bar {
    width: 50vw;
    margin: auto;
    visibility: hidden;
}

.input-field {
    background: black;
    padding: 10px;
    border-radius: 4px;
}

.input-field input {
    width: 93%;
    height: 90%;
    outline: none;
    background: transparent;
    border: none;
}


.input-field label {
    cursor: pointer;
}

.lib-main {
    height: 80vh;
    background-image: url('../images/Library/asdasd.jpg');
    /* background-color: #f46060; */
    background-size: cover;
    position: relative;
}

.circle {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    color: black;
    background-color: #e7e3d3;
    position: absolute;
    top: -12%;
    left: -5%;
    display: flex;
    align-items: end;
    justify-content: right;
    rotate: (30deg);
}

.lib-head {
    margin-bottom: 9rem;
    margin-right: 3rem;
    text-align: center;
    font-size: 1.2rem;

}

.circle h1 {
    color: black;
    z-index: 1;
}

/*  
    display: flex;
    justify-content: center;
    list-style: none;
    
}
header ul li{
    margin: 1rem;
    font-weight: 500;
} */
.bookList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.25rem;
    justify-content: center;
    padding: 1.25rem;
    margin: 0rem 5rem 3rem 5rem;
    width: 90%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-direction: row;
}

.genre-head {
    margin: 0rem 5rem 0rem 5rem;
    font-size: 1.5rem;

}

.book {

    height: 250px;
    width: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    margin: 10px;
    background-color: #f0f0f0;
    /* color: white; */
    /* padding: 0.625rem; */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.462);
    min-width: 200px;
    text-align: center;
    /* background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.921)); */
}

.book::-webkit-scrollbar {
    display: none;
}

.book img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 5px;
}

.book h2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.book p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.book a {
    font-size: .85rem;
}