.premium{

  .book12 img{
    height: 45vh;
    width: 28rem;
    background-size: cover;
    position: absolute;
    bottom: 0vh;
    right: 16vw;
    position: absolute;
  
  }

  .animation-elementsab{
    position: relative;
  }

  .left-heart img,
.right-heart img,
.left-flower img,
.right-flower img,
.left-cloud img,
.right-choco img,
.book12 img{
  animation: none;
}

.main-section{
  animation: none;
  background-color: #f46060;
}

.card {
  border:none;
  padding: 10px 50px;
  transition: all 0.3s ease-in;
}
.card:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  backface-visibility: hidden; 
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.5) !important;
}
.btn-outline-primary{
  transition: all 0.3s ease-in;
  color: #f24848;
  border: 1px solid #f24848;
}
.card:hover .btn-outline-primary{
  color:white;
  background:#f24848;
  border: none;
}
.account-block {
  padding: 0;
  background-image: url("Know Thy Shelf.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  position: relative;
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}
}