/* Container Styles */
.block {
    background: white;
    border-radius: 5px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 40rem;
    height: 170vh;
    gap: 2rem;
}

.custom-file-upload,
.upload-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 80%;
}

.upload-btns {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.profile_main {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imageMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 15rem;
    min-height: 15rem;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: contain;
}

.imageMain > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.imageName {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readBooks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.readBooks div {
    background-color: #4fc4f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 80%;
}

/* Continue Section */
.continue {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 60vh;
    background-color: white;
    border-radius: 4px;
}

.continue-heading {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue div h2 {
    font-size: 25px;
}

.continue-container {
    display: flex;
    height: 120%;
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: hidden;
}

.continue:nth-of-type(2) .continue-container {
    height: 40vh;
}

.continue:nth-of-type(2) .continue-container .booksContinued {
    display: inline;
}

.continue:nth-of-type(2) .continue-container .booksContinued img:nth-of-type(2) {
    z-index: 1;
    position: relative;
    bottom: 246.5px;
}

.continue-container::-webkit-scrollbar {
    width: 0px;
}

.booksContinued {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
    height: 300px;
}

.booksContinued img {
    width: 180px;
    object-fit: cover;
    padding: 7px;
    height: 240px;
    border-radius: 4px;
}


.booksContinued h5{
    width: 10rem;
    text-align: center;
}

.booksContinued h4 {
    margin-top: 10px;
    color: grey;
}

/* Progress Bar */
.progress {
    background: gainsboro;
    border-radius: 25px;
    align-items: center;
    height: 10px;
    margin-top: 55px;
    margin-bottom: 60px;
    width: 150px;
}

.progress-value {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.51);
    height: 10px;
    width: 0;
}

.pX {
    animation: loadX 2s normal forwards;
}

@keyframes loadX {
    0% { width: 0; }
    100% { width: var(--percentage); }
}

/* Calendar Styles */
.calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 383px;
    background: #3468af;
}

.calendar-day .titular {
    margin-top: -19px;
    background: #1a4e95;
}

.calendar-day .the-day {
    margin: 0;
    text-align: center;
    font-size: 146px;
}

.add-event.button {
    background: #4fc4f6;
}

.add-event.button:hover {
    background: #35aadc;
}

.calendar-month {
    height: 380px;
    width: 50%;
}

.calendar-month .titular {
    background: #3468af;
}

.calendar {
    margin: 22px 15px;
    text-align: center;
}

.calendar a {
    font-size: 17px;
}

.calendar td,
.calendar th {
    width: 40px;
    height: 38px;
}

.calendar .days-week {
    color: #4fc4f6;
}

.calendar .today {
    display: block;
    width: 34px;
    line-height: 34px;
    background: #e64c65;
    border-radius: 100%;
}

/* Last Container */
.lastContainer {
    display: flex;
    margin-top: 23px;
    width: 40vw;
    justify-content: space-around;
    gap: 20px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 383px;
    width: 100%;
}

.mediahead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
